body {
  background-color: #d2d684;
  overflow: hidden;
}

.container {
  width: 1200px;
  border: 1px solid white;
  max-width: 100%;
  margin: 50px auto 0;
  display: grid;
  grid-template-columns: 200px auto 300px;
  padding: 20px;
  border-radius: 30px;
  min-height: 80vh;
}

.container .menu {
  background-color: white;
  border-radius: 30px 0 0 30px;
}

.container .cart {
  background-color: #fff;
  border-radius: 0 30px 30px 0;
}

.container .center {
  background-color: #dddddd;
}

.menu .logo {
  padding: 20px;
  font-size: 20px;
  height: 40px;
}

.menu ul {
  padding: 20px 0 20px 20px;
  list-style: none;
  border-bottom: 1px solid #dddddd;
}

.cart .add {
  display: none;
}

.cart .remove {
  display: inline-block !important;
}
